{%extends 'base.html'%} {%block pageBody%}
<div class="container p-3 text-center">
  <h3>Dates:</h3>
  <p>Friday, September 8, 2022 - Sunday, September 10, 2022</p>
</div>
<div class="container p-3 text-center">
  <h3>Venue:</h3>
  <p><strong>Turning Stone Resort: Verona, New York</strong></p>
  <p>Friday, September 8: Atunyote Course, Gold Tees</p>
  <p>Sunday, September 9: Kaluhyat Course Course, White Tees</p>
  <p>Sunday, September 10: Shenandoah Course, White Tees</p>
  <p>
    <a
      href="https://www.turningstone.com/"
      target="_blank"
    >
      Explore the Venue
    </a>
  </p>
</div>
<div class="container p-3 text-center">
  <h3>Defending Champion:</h3>
  <p>
    <strong>Rob Carron</strong>
  </p>
  <p>Deerhurst Resort, Huntsville, Ontario</p>
</div>
{%endblock%}
