{%extends 'base.html'%} {%block pageBody%}
<div class="container p-3 text-center">
  <h3>Dates:</h3>
  <p>Friday, September 8, 2022 - Sunday, September 10, 2022</p>
</div>
<div class="container p-3 text-center">
  <h3>Venue:</h3>
  <p><strong>Turning Stone Resort: Verona, New York</strong></p>
  <p>Friday, September 8: Atunyote Course, Gold Tees (69.5/127)</p>
  <p><i>Local Comparable: King's Forest, Blue Tees</i></p>
  <p>Saturday, September 9: Kaluhyat Course Course, White Tees (71/135)</p>
  <p><i>Local Comparable: Mystic, Gold/Silver Combo Tees</i></p>  
  <p>Sunday, September 10: Shenandoah Course, White Tees (69.9/128)</p>
  <p><i>Local Comparable: Legends Niagara: Battlefield Course, White Tees</i></p>
  <p>
    <a
      href="https://www.turningstone.com/"
      target="_blank"
    >
      Explore the Venue
    </a>
  </p>
</div>
<div class="container p-3 text-center">
  <h3>Defending Champion:</h3>
  <p>
    <strong>Rob Carron</strong>
  </p>
  <p>Deerhurst Resort, Huntsville, Ontario</p>
</div>
{%endblock%}
