{%extends 'base.html'%} {%block pageBody%}
<div class="container p-3 text-center">
  <h3>Dates:</h3>
  <p>Friday, September 9, 2022 - Sunday, September 11, 2022</p>
</div>
<div class="container p-3 text-center">
  <h3>Venue:</h3>
  <p>Deerhurst Resort: Highlands Course</p>
  <p>
    <a
      href="https://deerhurstresort.com/golf/deerhurst-highlands/"
      target="_blank"
    >
      Explore the Venue
    </a>
  </p>
</div>
<div class="container p-3 text-center">
  <h3>Defending Champion:</h3>
  <p>
    <strong>Mike Cassar</strong>
  </p>
  <p>Six Foot Bay Resort, Peterborough, Ontario</p>
</div>
{%endblock%}
